* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-image: url("bgc-image-hero.png");
}

/* navigation */

header {
    display: flex;
    margin: 0 auto;
    padding:0.62rem ;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

.nav-img {
    width: 60px;
    height: 60px;
    border-radius: .75rem;
}

.nav-title {
    display: flex;
    margin-left: 10rem;
    justify-content: center;
    align-items: center;

}

.nav-name>a {
    margin-left: 1rem;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    color: #000;
}

.nav-links {
    margin-right: 10rem;
    width: 50rem;
}

.nav-links>nav {
    display: flex;
    justify-content: flex-end;
}

.nav-links>nav>a {
    text-decoration: none;
    color: #000;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    transition: .3s;
    cursor: pointer;
}



.nav-links>nav>a:hover {
    color: #DE5C00;
    box-shadow: 0 3px 0px #DDC63D;
}

/* thank you section */

.thank-you{
    height: 70vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.thank-you a {
    padding: 10px 20px;
        margin: 3rem 0 0 0;
        border: none;
        font-size: 1.2rem;
        color: #000;
        box-shadow: inset 0 0 0 2px #DE5C00;
        background-color: transparent;
        transition: .2s;
        cursor: pointer;
}

.thank-you a:hover{
    border: none;
        background-color: #DE5C00;
        color: #fff;
}
.socials {
    width:20%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
}
.socials p {
    margin:1rem;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.github {
    width: 110px;
}

.github>a>img {
    width: 100%;
}

@media (max-width: 1378px) {
    .nav-links{
        width: 20rem;
    }
}

@media (max-width:1024px) and (min-width:769px) {
    .nav-links {
        width: 50%;
    }

        .nav-title {
            margin-left: 2rem;
        }

    h1{
        font-size: 1.3rem; 
    }
}

@media (max-width:768px) {
   .nav-title{
    margin-left: 2rem;
   }

   h1 {
       font-size: 1.3rem;
   }

}

@media (max-width: 480px) and (min-width:320px) {
    .nav-links{
        margin-right: 2rem;
        width: 7rem;
    }

    .thank-you{
        height: 49vh;
    }

    .thank-text{
        padding: 0 3rem;
        text-align: center;
    }

    .socials{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .github{
        margin-left: 3.5rem;
    }
}
